/* Styling for stories.erb */

html {
  height:100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color:#f0f2f3;
  height:100%;
}

header {
  padding:20px;
  text-align: center;
}

header h1 {
  font-size:3em;
}

a {
  text-decoration: none;
  color:#7f6148;
}

a:visited {
  color:#7f6148;
}

nav button {
  background-color: #fff0b7;
  border:none;
  width:125px;
  margin: 0 10px;
  padding:10px;
  border-radius: 5px;
  box-shadow:-1px 1px 5px rgb(202, 188, 170);
  text-transform:uppercase;
}

button a:link {
  color:#7f6148;
}

p {
  text-align: center;
}

/* IDs */

#container {
  padding:0 25%;
}

/* End styling for stories.erb */


/* Styling for new.erb */

label {
  display:block;
  width:80%;
  margin: 0 auto;
}

textarea, input {
  display:block;
  width:80%;
  margin:2% auto;
}

textarea {
  height:20em;
}

input[type="submit"] {
  margin-top:5%;
  border:none;
  border-radius: 5px;
}

/* End styling for new.erb */

/* Styling for story.erb */
#container input[type="submit"], #container button{
  background-color:#f0f2f3;
  border: none;
  box-shadow:-1px 1px 5px rgb(202, 188, 170);
  height:40px;
}

#story {
  background-color:white;
  width:50%;
  margin: 20px auto 0;
  min-height:15em;
  padding:20px;
  box-shadow:-6px 6px 1px rgb(236, 247, 255);
  font-size:1.5em;
}

#story h3 {
  margin:0 0 15px;
}

#story_container {
  font-size:0.95em;
  font-family:"Open Sans", sans-serif;
}

form {
  display: inline;
}
.indv_story {
  border:none;
  border-radius: 5px;
  display: inline-block;
  width: 49%;
}

#startBtn {
  display: block;
  width: 30%;
  margin: 7% auto 0;
  border-radius: 5px;
}
.centerbutton {
  width: 30%;
  margin: 0 auto 25px;
  border-radius: 5px;

}
/* End styling for story.erb */
