/* Styling for layout.erb */

html {
  height:100%;
  font-family: 'Lato', sans-serif;
}

body {
  background-color:#f0f2f3;
  color:darkslategrey;
  height:100%;
  text-align:center;
}

header {
  padding:20px;
}

header h1 {
  font-size:3em;
  margin:10px 0 0;
}

header h2 {
  -webkit-animation-delay: .5s;
  margin:11px 0 20px;
}

img {
  margin: 20px 0;
}

a {
  text-decoration: none;
  /*color:#7f6148;*/
  color:darkslategray;
}

a:visited {
  /*color:#7f6148;*/
  color:darkslategray;
}

button {
  background-color: #6FCBBB;
  border:none;
  width:125px;
  margin: 0 10px;
  padding:10px;
  border-radius: 5px;
  box-shadow:0px 4px 0px #43b29d;
  text-transform:uppercase;
  outline: none;
  color:white;
}

.cta {
  width:150px;
  margin: 20px auto;
  display:block;
}

#container {
  padding:0 25%;
  text-align:left;
}

/* End styling for layout.erb */

/* Styling for home.erb */

#container img {
  width:60%;
  margin: 10px auto;
  padding:2% 20%;
}

/* End styling for home.erb */

/* Styling for stories.erb */

#stories a, a:visited  {
  text-decoration: none;
  color:rgb(124, 124, 124);
  /*color:darkslategray;*/
}

#stories a, a:visited h1 {
  color:darkslategray;
}

/* End styling for stories.erb */

/* Styling for new.erb */

label {
  display:block;
  width:80%;
  margin: 0 auto;
}

textarea, input {
  display:block;
  width:80%;
  margin:2% auto;
}

textarea {
  height:20em;
}

/*input[type="submit"] {
  margin-top:5%;
  border:none;
  border-radius: 5px;
} */

/* End styling for new.erb */

/* Styling for story.erb */

/*#container input[type="submit"] {
  background-color:#f0f2f3;
  border: none;
  box-shadow:0 4px 1px rgba(0,0,0,0.08);
  height:40px;
  outline:none;
}*/

#container input[type="text"] {
  padding-left:3px;
}

#story {
  background-color:white;
  width:50%;
  margin: 20px auto 0;
  min-height:15em;
  padding:20px;
  box-shadow:0 2px 1px rgba(0,0,0,0.08);
  font-size:1.5em;
}

#story h3 {
  margin:0 0 20px;
}

#story_container {
  font-size:0.95em;
  font-family:"Open Sans", sans-serif;
  color:#F0F0F0;
}

form {
  display: inline;
}
.indv_story {
  border:none;
  border-radius: 5px;
  display: inline-block;
  width: 49%;
}

.centerbutton {
  width: 30%;
  margin: 0 auto 25px;
  border-radius: 5px;
  outline: none;
}

.mod-links {
  text-align:center;
  margin-bottom:20px;
}

.mod-links input[type="submit"]{
  border:none;
  background:none;
  width:80px;
  display:inline;
  margin-bottom:20px;
}
/* End styling for story.erb */

/* Styling for stories.erb */
#stories {
  margin-top:20px;
}

#stories p {
  font-size:1.3em;
  font-family:"Open Sans", sans-serif;
  font-weight:300;
  text-align:center;
  text-transform:uppercase;
  margin:15px 0;
}

/* End styling for stories.erb */
