<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/animate.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300,600' rel='stylesheet' type='text/css'>


  <title></title>
</head>
<body>
  <header>
    <a href="/"><h1 class="animated fadeInDown">WordStream</h1></a>
    <h2 class="animated fadeIn">Practice reading up to 300x faster.</h2>
    <nav>
      <a href="/stories"><button>Get Started</button></a>
      <a href="/stories/new"><button>New Stream</button></a>
    </nav>
  </header>
  <div id="container">
      <%= yield %>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/text_streaming.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</body>
</html>
