<form action="/stories" method="post" id="newstory">
  <label>Title</label><input type="text" placeholder="e.g. The Tale of Two Cities" name="title"> </input>

  <label>Content</label><textarea name="story" form="newstory"></textarea>
  <input type="submit">
</form>
