<div id="story">
  <h3><%= @story.title %></h3>
  <div id="story_container">
    <%= @story.story %>
  </div>
</div>
<button id="startBtn" class="cta">Begin Reading</button>
<div class="mod-links">
    <a href="/stories/<%= @story.id %>/edit">Edit</a>
</div>
